/* Css reset */
body {
  @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
  margin: 0px;
  padding: 0px;
  background: url(./bg.jpg);
  color: white;
  font-family: "Baloo Bhai 2", cursive;
}

.left {
  position: absolute;
  top: 0px;
  left: 60px;
  display: inline-block;
  /* border: 2px solid yellow; */
}

.left img {
  width: 130px;
  filter: invert(100%);
  margin-bottom: 0px;
}

.left div {
  margin: 0px;
  padding-top: 0px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.mid {
  display: block;
  width: 40%;
  margin: 30px auto;
  /* border: 2px solid red; */
}

.right {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 30px;
  /* border: 2px solid blue; */
}

.right .btn {
  margin: 0px 10px;
  color: white;
  background-color: black;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Baloo Bhai 2", cursive;
  /* border: 2px solid grey; */
}

.btn:hover {
  background-color: rgb(54, 51, 51);
}
/* .navbar {
} */

.navbar li {
  display: inline-block;
  font-size: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 23px 10px;
}

.navbar li a:hover {
  color: gray;
  text-decoration: underline;
}

/* ************************************************ container style ************************ */

.container {
  border: 2px solid white;
  margin: 80px 100px;
  padding: 40px 25px;
  width: 40%;
  border-radius: 20px;
  color: white;
}

.container h1 {
  text-align: center;
}
.form-group input {
  text-align: center;
  display: block;
  padding: 4px 140px;
  width: 150px;
  border-radius: 10px;
  margin: 6px auto;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 16px;
  font-weight: 400;
}

.btn2 {
  margin: 0px auto;
  color: white;
  display: block;
  background-color: black;
  padding: 3px 187px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Baloo Bhai 2", cursive;
}

.btn2:hover {
  color: black;
  background-color: rgb(179, 179, 179);
}
